
/temp
/.ipynb_checkpoints
.DS_Store
guided_projects/Exploring the History of Lego/.ipynb_checkpoints/
guided_projects/Exploring the Evolution of Linux/.ipynb_checkpoints/
guided_projects/Exploring the Evolution of Linux/datasets/.ipynb_checkpoints/
preliminary_analysis/Chirp_Audio_Analysis.ipynb
Recordings/
guided_projects/Exploring the Bitcoin Cryptocurrency Market/.ipynb_checkpoints/
preliminary_analysis/.ipynb_checkpoints
preliminary_analysis/.DS_Store
preliminary_analysis/wavs/
